@use "sass:map";
@import "../../../scss/_variables";

.footer_box {
  padding-bottom: 20px;
  background-color: map-get($colors, "primary");
  height: 80px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn-primary{
  background-color: map-get($colors, "second");
  color: map-get($colors, "header");
  text-decoration: none;

}


