@use "sass:map";
@import "../../../scss/_variables";

.footer_box {
  color: red;
  background-color: map-get($colors, "primary");
  height: 60px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
}