$dark: #C1A796;
/*
.form-control{
  border: 5px;
};
*/

.card-img-top{
  padding: 10px;
}

.accordion-body {
  background-color: #C1A796;
  color: black; //   color: ghostwhite;
}
$accordion-button-focus-border-color: #664229;
$accordion-button-focus-box-shadow: #C1A796;
$accordion-color: black;
$accordion-bg: #C1A796;
$accordion-border-color: black;
$accordion-button-active-bg: #664229;
$accordion-button-active-color: #C1A796;
$accordion-button-focus-border-color: #664229;


@import '~bootstrap/scss/bootstrap.scss';

