@use "sass:map";
@import "./_variables";

.card-img-top{
  padding: 10px;
}

.accordion-body {
  background-color: #C1A796;
  color: black;
}

$dark: #C1A796;
$accordion-button-focus-border-color: #664229;
$accordion-button-focus-box-shadow: #C1A796;
$accordion-color: map-get($colors, "header");
$accordion-bg: #C1A796;
$accordion-border-color: map-get($colors, "header");
$accordion-button-active-bg: #664229;
$accordion-button-active-color: #C1A796;
$accordion-button-focus-border-color: #664229;
$button-active-color: #C1A796;
$button-focus-border-color: #664229;
$nav-link-color: #664229;
@import '~bootstrap/scss/bootstrap.scss';

