@use "sass:map";


$colors: (
  primary: #C1A796,
  second: #6D3A30,
  header: black,
  bg: white,
  font: black,
  button_text: white,
        //#348888, #22BABB
);

$height: (
  big_large: 25px,
  large: 18px,
  medium: 16px,
  small: 12px,
);